In [1]:
import pandas as pd

In [4]:
data = pd.DataFrame({'Make':['Honda', 'Toyota', 'BMW'], 'Year': [2015, 2015, 2016], 'Color': ['White', 'Blue', 'Red']})

In [5]:
data

   Color    Make  Year
0  White   Honda  2015
1   Blue  Toyota  2015
2    Red     BMW  2016

In [7]:
data.groupby(by='Year')['Make'].value_counts()

Year  Make
2015  Honda     1
      Toyota    1
2016  BMW       1
Name: Make, dtype: int64

In [11]:
data.groupby(by='Year')['Year'].value_counts()

Year  Year
2015  2015    2
2016  2016    1
Name: Year, dtype: int64

In [12]:
data.groupby(by='Year')['Color'].value_counts()

Year  Color
2015  Blue     1
      White    1
2016  Red      1
Name: Color, dtype: int64